name: Node.js CI

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: docker build . -t ${{secrets.DOCKER_USER}}/github-actions:latest
      - run: echo "${{ secrets.DOCKER_TOKEN}}" | docker login -u ${{secrets.DOCKER_USER}} --password-stdin
      - run: docker  push ${{secrets.DOCKER_USER}}/github-actions:latest
